:textile
  h2. API reference

  These articles describe the APIs defined by @jstest@. You are not limited to
  these APIs, and you can import any other assertion, stubbing or other library
  should you want to. The aim of @jstest@ is to give you a framework for
  organising tests and running them on a variety of platforms; how you write the
  tests themselves is up to you.

  * "Context blocks":/contexts.html describes how @jstest@ test suites are
    organised into nested contexts
  * "Assertions":/assertions.html documents the assertion methods available
    to check your output
  * "Stubbing and mocking":/mocking.html explains how to fake out your code's
    dependencies
  * "Asynchronous test":/async.html describes how to test asynchronous APIs
  * "Reporter plugins":/reporters.html shows how to change the output of the
    test runner

