:textile
  h2. The cross-platform JavaScript test framework

  @jstest@ is a testing framework for JavaScript that's designed to run on any
  platform with minimal effort. It provides a familiar RSpec-style API for organising
  tests that can run on the following platforms:

  * Web browsers:
    "Chrome":http://www.google.com/chrome,
    "Firefox":http://www.getfirefox.com/,
    "Internet Explorer":http://www.microsoft.com/windows/internet-explorer/default.aspx,
    "Opera":http://www.opera.com/, "Safari":http://www.apple.com/safari/
  * "PhantomJS":http://www.phantomjs.org/ (both in the browser and the scripting
    runtime)
  * Server-side platforms:
    "Node.js":http://nodejs.org/,
    "Narwhal":http://narwhaljs.org/,
    "RingoJS":http://ringojs.org/
  * Database shells:
    "MongoDB":http://www.mongodb.org/
  * GUI environments:
    "XULRunner":https://developer.mozilla.org/en/xulrunner,
    "Adobe AIR":http://www.adobe.com/products/air/
  * Shells:
    "V8 shell":http://code.google.com/p/v8/,
    "Rhino":http://www.mozilla.org/rhino/,
    "SpiderMonkey":http://www.mozilla.org/js/spidermonkey/,
    "Windows Script Host":http://msdn.microsoft.com/en-us/library/9bbdkx3k(VS.85).aspx

  The framework can produce a variety of "output formats":/formats.html and
  includes "an API for adding new ones":/reporters.html. It comes with plugins
  for several popular browser test runners, including:

  * "Buster.JS":http://busterjs.org/
  * "Karma":http://karma-runner.github.io/
  * "Teabag":https://github.com/modeset/teabag
  * "Testem":https://github.com/airportyh/testem
  * "Testling CI":http://ci.testling.com/
  * "TestSwarm":https://github.com/jquery/testswarm

